/* cutive-regular - latin */
@font-face {
    font-family: 'Cutive';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/cutive-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../cssMemSlider/assets/fonts/cutive-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../cssMemSlider/assets/fonts/cutive-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../cssMemSlider/assets/fonts/cutive-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../cssMemSlider/assets/fonts/cutive-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../cssMemSlider/assets/fonts/cutive-v17-latin-regular.svg#Cutive') format('svg'); /* Legacy iOS */
  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:aliceblue;
}

body{
    
    font-family: 'Cutive';
    background: black;
}

main{
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    margin: 0 auto;
}

.css_mem_slider{
    height: 90%;
    width: 70vw;
    margin: 1% auto 0;
}
.css_mem_content{
    width: inherit;
    height: inherit;

}

input{
    display: none;
}

.css_mem_pictures{
    margin-top: 2%;
    height: 100%;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 2%;
}

.css_mem_pictures_container{
    display: flex;
    transition: all .3s linear;
}

.picture{
    display: inline-block;
    height: 100%;
    min-width: 100%;
    
}

.container{
    margin-top: 2%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.css_mem_names{
    overflow: hidden;
    flex: 2.5;
}
.css_mem_names_container{
    display: flex;
    flex-direction: row-reverse;
    transition: all .5s linear;
}

.names{
    min-width: 100%;
    margin-top: 3%;
}

.names_text{
    font-size: 1.3rem;
   
}

.label_container{
   margin-top: 1%;
    flex: 0.5;
}

.labels{
  display: flex;
  justify-content:space-around;
  align-items: center;  
}

.labels > label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    user-select: none;
   
  

}

.labels > label > span {
    display: inline-block;
    background: blueviolet;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    transition: all .5s linear;

}

#slide_1:checked ~ .css_mem_content .label_1 span,
#slide_2:checked ~ .css_mem_content .label_2 span,
#slide_3:checked ~ .css_mem_content .label_3 span,
#slide_4:checked ~ .css_mem_content .label_4 span,
#slide_5:checked ~ .css_mem_content .label_5 span{
    transform: scale(0.9);
    background-color: black;
    border: solid 0.2rem blueviolet;
}

#slide_1:checked ~ .css_mem_content .css_mem_pictures_container{
    transform: translateX(0);
}

#slide_2:checked ~ .css_mem_content .css_mem_pictures_container{
    transform: translateX(-100%);
}

#slide_3:checked ~ .css_mem_content .css_mem_pictures_container{
    transform: translateX(-200%);
}

#slide_4:checked ~ .css_mem_content .css_mem_pictures_container{
    transform: translateX(-300%);
}

#slide_5:checked ~ .css_mem_content .css_mem_pictures_container{
    transform: translateX(-400%);
}

#slide_1:checked ~ .css_mem_content .css_mem_names_container{
    transform: translateX(0);
}

#slide_2:checked ~ .css_mem_content .css_mem_names_container{
    transform: translateX(100%);
}

#slide_3:checked ~ .css_mem_content .css_mem_names_container{
    transform: translateX(200%);
}

#slide_4:checked ~ .css_mem_content .css_mem_names_container{
    transform: translateX(300%);
}

#slide_5:checked ~ .css_mem_content .css_mem_names_container{
    transform: translateX(400%);
}


@keyframes my {
    0% {
        transform: translate(100%, -50%);
    }
     3% {
        transform: translate(100%, -50%);
    }
    6% {
        transform: translate(0, -50%);
    }
     30% {
        transform: translate(0, -50%);
    }
      33% {
        transform: translate(-100%, -50%);
    }
   100% {
        transform: translate(-100%, -50%);
    }
}

@media (hover: hover){
    label:hover  span{
        background: white;

    }
    label:active span{
        background: black;
        box-shadow: 0 0 1rem 0.4rem white;

    }
}